<!DOCTYPE html>
<html>
<!-- We add the small piece of template header -->
<% include ./partials/header %>
<% include ./partials/navbar %>
<div>
  <div class="col-sm">
    <h2>Events for You!</h2>
    <% eachEvent.forEach(function(event) { %>
      <div class="card mt-2" style="width: 18rem;">
      <% if (event.etype == "music") { %>
        <img class="card-img-top" src="/images/music.png" alt="Card image cap">
      <% } %>
      <% if (event.etype == "sport") { %>
        <img class="card-img-top" src="/images/sport.png" alt="Card image cap">
      <% } %>
      <% if (event.etype == "food") { %>
        <img class="card-img-top" src="/images/food.png" alt="Card image cap">
      <% } %>
      <% if (event.etype == "party") { %>
        <img class="card-img-top" src="/images/party.png" alt="Card image cap">
      <% } %>
      <% if (event.etype == "festival") { %>
        <img class="card-img-top" src="/images/festival.png" alt="Card image cap">
      <% } %>
      <% if (event.etype == "other") { %>
        <img class="card-img-top" src="/images/other.png" alt="Card image cap">
      <% } %>
          <div class="card-body">
            <h5 class="card-title"><%= event.title %></h5>
            <p class="card-text"><%= event.location %></p>
            <p class="card-text"><%= event.description %></p>
            <p class="card-text"><%= event.date_start %></p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      <div>
     <% }); %>
 </div>

</div>
  <!-- We add the small piece of template footer -->

  <% include ./partials/footer %>

</html>
