<!DOCTYPE html>
<html>
<!-- We add the small piece of template header -->
<% include ./partials/header %>
<% include ./partials/navbar %>

  <body>
      <!-- We render title passed by parameter in routes/index.js -->
      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
      <img src="/images/test.png" alt="<3" >
    </div>

  </body>

  <!-- We add the small piece of template footer -->

  <% include ./partials/footer %>

</html>
