<!DOCTYPE html>
<html>
<!-- We add the small piece of template header -->
<% include ./partials/header %>
<% include ./partials/home_navbar %>

  <body>
      <!-- We render title passed by parameter in routes/index.js -->
      <img src="/images/info.png" id="info" >
    </div>

  </body>

  <!-- We add the small piece of template footer -->
  <div class="container mt-5">
  <% include ./partials/footer %>

</html>
