<!DOCTYPE html>
<html>
<!-- We add the small piece of template header -->
<% include ./partials/header %>

  <body>
    <!-- We render title passed by parameter in routes/index.js -->
    <h1><%= title %></h1>
    <p>This is login bitch</p>
  </body>

  <!-- We add the small piece of template footer -->
  <% include ./partials/footer %>

</html>
