<!DOCTYPE html>
<html>
<!-- We add the small piece of template header -->

  <% include ./partials/header %>
  <% include ./partials/navbar %>

<body>
  <script>
	function login() {
      const firstname = $("#inputFirstName").val();
	  const lastname=	$("#inputLastName").val();
	  const email = $("#inputEmail2").val();
      const password_1 = $("#inputPassword1").val();
	  const password_2= $("#inputPassword2").val();
	  alert(password_1==(password_2));
	  if(password_1==(password_2))
	  {
      $.post("/register", { firstname: firstname, lastname: lastname, email: email, password: password_1 }, (data, status) => {

        if (status === 'success')
          alert(`Login success\n${data}`);
        else
          alert("Login denied");

      });
	  }
	  document.location.href="/login";
    }
</script>
    <!-- We render title passed by parameter in routes/index.js -->
<section class="container-fluid bg" id="section2">
	<section class="row justify-content-center">
		<section class="col-12 col-md-6">
			<form class="form-container" onsubmit="login()">
			 <div class="form-group">
				<h1>New Member Registration</h1>
				<label> First Name:</label>
				<input type="firstname" class="form-control" id="inputFirstName" aria-describedby="emailHelp" placeholder="Enter First Name" />

				<label> Last Name:</label>
				<input type="lastname" class="form-control" id="inputLastName" aria-describedby="emailHelp" placeholder="Enter Last Name" />	
				<label for="inputEmail1">Email address:</label>
				<input type="email" class="form-control" id="inputEmail2" aria-describedby="emailHelp" placeholder="Enter email" />
			  </div>
			  <div class="form-group">
				<label for="InputPassword1">Password:</label>
				<input type="password" class="form-control" id="inputPassword1" placeholder="Password" />
				
				<label for="InputPassword2">Confirm Password:</label>
				<input type="password" class="form-control" id="inputPassword2" placeholder="Password" />
			  </div>
			  <button type="submit" class="btn btn-primary btn-block">Submit</button>
			  <div>
				<label>Already have an account? </label> 
				<a href=""  class="center_Text">Login</a>
			  </div>
			</form>			
		</section>
	</section>
</section>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>

  <!-- We add the small piece of template footer -->
  <% include ./partials/footer %>

</html>
